<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/softmusicbeta"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoftMusic_beta"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.example.softmusic_beta.MainActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.realgear.mediaplayer" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SettingsActivityLibrary"
            android:exported="true">

        </activity>

        <activity android:name=".SettingsActivityAllMusic"
            android:exported="true">

        </activity>

        <activity android:name=".SettingsActivityHome"
            android:exported="true">

        </activity>


        <service
            android:name="com.example.mediaplayer.services.MediaPlayerService"
            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:exported="true"
            android:process=".mediaPlayer"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowseService"/>
            </intent-filter>
        </service>

    </application>
</manifest>